* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  --primary-color: #ff6f6f;
  --secondary-color: #ffb6b6;
  --background-color: #ffe0e0;
  --text-color: #333;
  --highlight-color: #d93636;
  --font-family: "Arial", sans-serif;
}

.layout {
  background-color: var(--secondary-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  border: 2px solid;
}
main {
  flex-grow: 1;
}
header,footer {
  background-color: var(--primary-color);
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  position: sticky;
  padding: 1%;
  min-height: 5vh;
  z-index: 1000;
  border: 2px solid;
}

header .logo {
  display: flex;
  align-items: center;
  font-size: 1;
  font-weight: bold;
}

header .logo img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

nav ul {
  list-style: none;
  padding: 10px;
  display: flex;
  gap: 15px;
}

nav ul li a {
  align-self: hover;
  color: white;
  font-weight: bold;
  padding: 10px 15px;
  border: 2px #f0645a solid;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 0px #ce3333;
}

h1,
h2 {
  color: #131212;
  text-align: center;
}
p {
  text-align: center;
}

.content1 {
  /*module benefits*/
  display: flex;
  position: relative;
  left: 30%;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 20px 20px;
  border: 2px #f0645a solid;
  background-color: #d1bfbf;
  padding: 20px;
  border-radius: 30px;
  width: 40%;
}

.content2 {
  /*module benefits*/
  display: flex;
    position: relative;
  left: 30%;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 20px 20px;
  border: 2px #f0645a solid;
  background-color: #d1bfbf;
  padding: 20px;
  border-radius: 30px;
  width: 40%;
  
}

.foto1 {
  /*module benefits*/
  width: 30vh;
  height: 30vh;
  border: 2px #f0645a solid;
  border-radius: 30px;
  object-fit: cover;
}

.foto2 {
  /*module benefits*/
  width: 30vh;
  height: 30vh;
  border: 2px #f0645a solid;
  border-radius: 30px;
  object-fit: cover;
}

.rating {
  /*module benefits*/
  display: flex;
}

.star {
  /*module benefits*/

  font-size: 3vh;
  color: gold;
  padding: 0 10px;
}

.container{
  /*module information*/
  padding: 50px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: px;
  
}
table,tr,td, th{
  border: 1px solid var(--highlight-color);
}
.image-banner img {
  /*module index*/
  position: relative;
  left: 10%;
  width: 80%;
  height: 300px;
  border-radius: 15px;
  object-fit: cover;
}

.image1 img {
  /*module index*/
  position: relative;
  left: 30%;
  width: 40%;
  height: 300px;
  border-radius: 15px;
}

.uno {
  /*module AboutUs*/
  position: absolute;
  top: 50px;
  left: 60%;
}

.dos {
  /*module AboutUs*/
  position: absolute;
  top: 40%;
  left: 60%;
}

.tres {
  /*module AboutUs*/
  position: absolute;
  top: 80%;
  left: 60%;
}

.image-section {
  /*module AboutUs*/
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  margin: 1%;
  gap: 50px;
}

.image-item {
  /*module AboutUs*/
  width: 18%;
  height: 20vh;
  border-radius: 40px;
  object-fit: cover;
}

.contact {
  /*module contact*/
  position: relative;
  left: 25%;
  width: 48%;
  height: 200%;
  border-radius: 40px;
  object-fit: cover;
}

form {

}
.pf {
  /*module footer*/
  position: relative;
  right: 45%;
}
.whatsapp {
  /*module footer*/
  position: absolute;
  bottom: 70px;
  right: 20px;
  width: 60px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.whatsapp img {
  /*module footer*/
  width: 100%;
  height: 100%;
  border-radius: 50%;
}